<section class="first-30-section">
    <div class="container">
        <div class="first-30-wrapper">
            <div class="first-30-inner">
                {{ content|e('wp_kses_post') }}
                <div class="start-free-trial-form">
                    {{ gravity_grom_shortcode|shortcodes }}
                </div>
            </div>
        </div>
    </div>
</section>