$container-width: 1080px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$blue: #0337cc;
$green: #44c073;
$white: #fff;
$black: #252525;
$grey: #919090;
$slate-grey: #4f515e;
$pale-grey: #eceff5;
$warm-grey-two: #939393;
$purple: #8840c4;
$yellow: #ffb939;

$gray-background-color: $pale-grey;
$billing-color: $green;
$business-color: $yellow;
$cybersecurity-color: $purple;
$helpful-tips-color: $blue;
